# tmp files
*~
._*
*.log

# OS
.DS_Store
.Trashes
.Spotlight-V100
Thumbs.db
Desktop.ini

# IDE
/.settings/
/.idea/
.classpath
.buildpath
.project/cache/
.realsync
*.iml
*.iws
*.swp
*.sublime-project
*.sublime-workspace

# Project
/vendor/
/tmp/*
.vagrant/
/node_modules/
